.ui-growl { top: 0.3em !important; }

.ui-growl-item span.ui-growl-image{
    background: none !important;
    width: 0;
    height: 0;
}
.ui-growl-message{
    padding: 0 !important;
    width: 100% !important;
    text-align: left;
}

table.panelGridDialogMailSupport > tbody > tr:first-child > td:first-child {
    width: 25% !important;
}

table.panelGridDialogMailSupport > tbody > tr > td {
    padding: 0 !important;
    vertical-align: top;
}

.ui-dialog .panelGridDialogSupport {
    width: 100% !important;
    border: none !important;
}

.ui-dialog .panelGridDialogSupport > tbody tr:first-child > td {
    border: none !important;
}

/*.ui-dialog  .panelGridDialogSupport > tbody > tr:first-child > td:first-child {
    width: 25% !important;
    max-width: 25% !important;
}*/

.ui-dialog table.panelGridDialogMailSupport {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none !important;
}

table.panelGridDialogMailSupport td:nth-child(1),td:nth-child(3) {
    line-height: 1.5em !important;
    white-space: nowrap !important;
    width: 15% !important;
    min-width: 15% !important;
    text-align: right !important;
}

/*td.td_15 {
    line-height: 1.5em !important;
    white-space: nowrap !important;
    width: 15% !important;
    min-width: 15% !important;
    text-align: right !important;
    padding: 0.2em !important;
}*/

/*td.td_35 {
    line-height: 1.5em !important;
    font-weight: normal !important;
    width: 35% !important;
    max-width: 35% !important;
    text-align: left !important;
    padding: 0.2em !important;
}

textarea.inputTextareaNotBorder {
    width: 100%;
    border: none !important;
    background: transparent !important;
}*/
