/*.ui-growl { top: 9em !important; }*/

.ui-growl-item span.ui-growl-image{
    background: none !important;
    width: 0;
    height: 0;
}
.ui-growl-message{
    padding: 0 !important;
    width: 100% !important;
    text-align: left;
}