/**
* Login form
* @author hungpham
* @since 2016/10
*/
body{
    font-family: source sans pro, sans-serif;
    width: 100%; height: 100%;
    overflow: hidden;
}
*{
    font-size: 13px;
}
body:before{
    content: '';
    background: url(bg1.jpg.xhtml?ln=images) center center no-repeat fixed;
    background-size: cover;
    position: absolute;
    top: -5%; left: -5%;
    width: 110%; height: 110%;

    -webkit-filter : blur(4px) !important;
        -moz-filter: blur(4px) !important;
        -ms-filter : blur(4px) !important;
            filter : url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'4\' /></filter></svg>#blur");
            filter :progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}
.container{
    width: 380px;
    height: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border-style: solid;
    border-width: 0 1px;
    -webkit-border-image: 
        -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0))) 1 100%;
    -webkit-border-image: 
        -webkit-linear-gradient(transparent, rgba(255, 255, 255, 1) 10px, rgba(255, 255, 255, 0)) 1 100%;
    -moz-border-image:
        -moz-linear-gradient(transparent, rgba(255, 255, 255, 1) 10px, rgba(255, 255, 255, 0)) 1 100%;    
    -o-border-image:
        -o-linear-gradient(transparent, rgba(255, 255, 255, 1) 10px, rgba(255, 255, 255, 0)) 1 100%;
    border-image:
        linear-gradient(to bottom, transparent, rgba(255, 255, 255, 1) 10px, rgba(255, 255, 255, 0)) 1 100%;
    box-shadow: 2px 0 4px -4px rgba(0, 0, 0, 0.8), -2px 0 4px -4px rgba(0,0,0, 0.8);
}
.container:before{
    content: 'lock_outline';
    position:absolute;
    height:62px;
    width:62px;
    border-radius: 100%;
    left:50%;
    margin-left:-30px;
    top: -32px;
    background: -moz-linear-gradient(top,  transparent 0%, rgba(255, 255, 255,.6) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  transparent 0%,rgba(255, 255, 255,.6) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  transparent 0%,rgba(255, 255, 255,0) 30%,rgba(255, 255, 255,.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 0px 3px 3px -2px #000;
    -moz-box-shadow: 0px 3px 3px -2px #000;
    -o-box-shadow: 0px 3px 3px -2px #000;
    box-shadow: 0px 3px 3px -2px #000;

    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-align: center;
    line-height: 62px;
    color: #EEE;

    /*border: 1px solid #fff;
    border-width: 0px 0px 1px 0px;*/
}
.container:after{
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 154px;
    height: 10px;
    -webkit-box-shadow: 0px -1px 10px -4px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px -1px 10px -4px rgba(0, 0, 0, .3);
    -o-box-shadow: 0px -1px 10px -4px rgba(0, 0, 0, .3);
    box-shadow: 0px -1px 10px -4px rgba(0, 0, 0, .3);
}
.lock{
    width: 100%;
    height: 43px;
    overflow:hidden;
    position:relative;
    margin:0 auto;
    z-index:1;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.lock:before, .lock:after{
    content:'';
    position:absolute;    
}
.lock:before{   
    top: -40px;
    left: 50%;
    margin-left: -37px;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 0px 999px rgba(255, 255, 255, .6);
    -moz-box-shadow: 0px 0px 0px 999px rgba(255, 255, 255, .6);
    -o-box-shadow: 0px 0px 0px 999px rgba(255, 255, 255, .6);
    box-shadow: 0px 0px 0px 999px rgba(255, 255, 255, .6);
    z-index: -1;
    border: 1px solid #fff;
}
.lock:after{
    top: 2px; right: 0;
    width: 154px;
    height: 10px;
    box-shadow: 0px -2px 10px -4px rgba(0, 0, 0, .3);
}
.loginform{
    padding: 10px 10px 20px;

    background: -moz-linear-gradient(top,  rgba(255, 255, 255,.6) 0%, rgba(255, 255, 255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255, 255, 255,.6) 0%,rgba(255, 255, 255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255, 255, 255,.6) 0%,rgba(255, 255, 255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.loginform.ja{
    padding-top: 9px;
}
ul{
    margin: 0; padding: 0;
    border-radius: 5px;
}
ul li{
    list-style-type: none;
    display: flex;
    margin-bottom: 6px;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 5px;
    background: rgba(0,0,0,.3);

    text-shadow: 0px 0px 1px #000;
}
ul li.remember{
    border: 0;
    background: transparent;
    margin: 20px 0;
    color: #FFF;
    position: relative;
}
ul li.remember .ui-inputswitch{
    background: transparent;
    position: absolute;
    right: 0;
    top: -4px;
    width: 50px !important;
    border-radius: 20px;
}
ul li.remember .ui-inputswitch span{
    visibility: hidden;
}
ul li.remember .ui-inputswitch .ui-inputswitch-handle{
    border-radius: 20px;
}
ul li.remember .ui-inputswitch-on {
    background: rgba(3,169,244,.6)!important;
}
ul li.no-style{
    border: 0;
    background: transparent;
}
ul li label{
    width: 30px; line-height: 36px; height: 36px;
    flex: 0 0 auto;
    order: 1;
    text-align: center;
    padding: 0 3px;
    font-size: 16px;
    border-right: 1px solid rgba(255, 255, 255, .4);
}
ul li .input{
    flex: 1 auto;
    order: 2;
    text-shadow: none;
}
ul li .forgot-link{
    display: block;
    width: 100%;
    text-align: center;
    color: #E0E0E0;
    text-decoration: none;
}
ul li .forgot-link:hover{	
    color: #FFF;
}
input, select, button{
    box-sizing: border-box;
    background-color: transparent !important;
    border: 0 !important;
    color: #fff !important;
    padding: 5px 8px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
select option{
    background: rgba(0, 0, 0, .4) !important;
}
.input, .button{
    width: 100%;
    height: 36px;
}

.input:focus, .button:focus{
    outline: none;
}
.button{
    background: -moz-linear-gradient(top,  rgba(255, 255, 255,.4) 0%, rgba(255, 255, 255,0.3) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255, 255, 255,.4) 0%,rgba(255, 255, 255,0.3) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255, 255, 255,.4) 0%,rgba(255, 255, 255,0.3) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    border: 1px solid rgba(255, 255, 255,.4) !important;

    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, .3) !important;
    text-shadow: 0px 0px 1px #000;
    cursor: pointer;
    text-transform: uppercase;
}

.input::-webkit-input-placeholder {
    color: #E0E0E0;
}

.input:-moz-placeholder { /* Firefox 18- */
    color: #E0E0E0;  
}

.input::-moz-placeholder {  /* Firefox 19+ */
    color: #E0E0E0;  
}

.input:-ms-input-placeholder {  
    color: #E0E0E0;  
}

.security-app-footer{
    position: fixed;
    width: 100%; height: 76px;
    left: 0; bottom: 0;
    background: rgba(0, 0, 0, .6);
    text-shadow: 0px 0px 1px #000;
    color: #fff;
    display: flex;
}
.security-app-footer .logo{
    width: 140px;
    flex: 0 0 auto;
}
.security-app-footer .logo img{
    width: 100%;
}
.security-app-footer .info{
    flex: 1 auto;
    padding: 10px 0 0 10px;
    position: relative;
}
.security-app-footer .info .company-name {
    font-size: 150%;
    margin-bottom: 8px;
    display: block;
}
.security-app-footer .info .version{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: rgba(255, 255, 255, .8);
}

/* SKINS */
span.skin-default{
    background-color: rgba(230, 230, 230, 1);
}
span.skin-black{
    background-color: rgba(0, 0, 0, 1);
}
.container.skin-black{
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0))) 1 100% !important;
    -webkit-border-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 1) 10px, rgba(0, 0, 0, 0)) 1 100% !important;
    -moz-border-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 1) 10px, rgba(0, 0, 0, 0)) 1 100% !important;
    -o-border-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 1) 10px, rgba(0, 0, 0, 0)) 1 100% !important;
    border-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1) 10px, rgba(0, 0, 0, 0)) 1 100% !important;
}
.container.skin-black:before{
    background: -moz-linear-gradient(top,  transparent 0%, rgba(0, 0, 0,.6) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  transparent 0%,rgba(0, 0, 0,.6) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  transparent 0%,rgba(0, 0, 0,0) 30%,rgba(0, 0, 0,.6) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
}
.container.skin-black .lock:before{
    -webkit-box-shadow: 0px 0px 0px 999px rgba(0, 0, 0, .6) !important;
    -moz-box-shadow: 0px 0px 0px 999px rgba(0, 0, 0, .6) !important;
    -o-box-shadow: 0px 0px 0px 999px rgba(0, 0, 0, .6) !important;
    box-shadow: 0px 0px 0px 999px rgba(0, 0, 0, .6) !important;
    border: 1px solid rgba(0, 0, 0, 1) !important;
}
.container.skin-black .loginform{
    background: -moz-linear-gradient(top,  rgba(0, 0, 0,.6) 0%, rgba(0, 0, 0,0) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0, 0, 0,.6) 0%,rgba(0, 0, 0,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0, 0, 0,.6) 0%,rgba(0, 0, 0,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
}
.container.skin-black .button{
    background: -moz-linear-gradient(top,  rgba(0, 0, 0,.4) 0%, rgba(0, 0, 0,0.3) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0, 0, 0,.4) 0%,rgba(0, 0, 0,0.3) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0, 0, 0,.4) 0%,rgba(0, 0, 0,0.3) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    border: 1px solid rgba(0, 0, 0,.4) !important;
}

/**/
span.skin-black-light{
    background-color: rgba(0, 0, 0, 1);
}
.container.skin-black-light{
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0))) 1 100% !important;
    -webkit-border-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 1) 10px, rgba(0, 0, 0, 0)) 1 100% !important;
    -moz-border-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 1) 10px, rgba(0, 0, 0, 0)) 1 100% !important;
    -o-border-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 1) 10px, rgba(0, 0, 0, 0)) 1 100% !important;
    border-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1) 10px, rgba(0, 0, 0, 0)) 1 100% !important;
}
.container.skin-black-light:before{
    background: -moz-linear-gradient(top,  transparent 0%, rgba(0, 0, 0,.6) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  transparent 0%,rgba(0, 0, 0,.6) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  transparent 0%,rgba(0, 0, 0,0) 30%,rgba(0, 0, 0,.6) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
}
.container.skin-black-light .lock:before{
    -webkit-box-shadow: 0px 0px 0px 999px rgba(0, 0, 0, .6) !important;
    -moz-box-shadow: 0px 0px 0px 999px rgba(0, 0, 0, .6) !important;
    -o-box-shadow: 0px 0px 0px 999px rgba(0, 0, 0, .6) !important;
    box-shadow: 0px 0px 0px 999px rgba(0, 0, 0, .6) !important;
    border: 1px solid rgba(0, 0, 0, 1) !important;
}
.container.skin-black-light .loginform{
    background: -moz-linear-gradient(top,  rgba(0, 0, 0,.6) 0%, rgba(0, 0, 0,0) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0, 0, 0,.6) 0%,rgba(0, 0, 0,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0, 0, 0,.6) 0%,rgba(0, 0, 0,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
}
.container.skin-black-light .button{
    background: -moz-linear-gradient(top,  rgba(0, 0, 0,.4) 0%, rgba(0, 0, 0,0.3) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0, 0, 0,.4) 0%,rgba(0, 0, 0,0.3) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0, 0, 0,.4) 0%,rgba(0, 0, 0,0.3) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    border: 1px solid rgba(0, 0, 0,.4) !important;
}
/******/
span.skin-blue{
    background-color: rgba(60, 141, 188, 1);
}
.container.skin-blue{
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(60, 141, 188, 1)), to(rgba(60, 141, 188, 0))) 1 100% !important;
    -webkit-border-image: -webkit-linear-gradient(transparent, rgba(60, 141, 188, 1) 10px, rgba(60, 141, 188, 0)) 1 100% !important;
    -moz-border-image: -moz-linear-gradient(transparent, rgba(60, 141, 188, 1) 10px, rgba(60, 141, 188, 0)) 1 100% !important;
    -o-border-image: -o-linear-gradient(transparent, rgba(60, 141, 188, 1) 10px, rgba(60, 141, 188, 0)) 1 100% !important;
    border-image: linear-gradient(to bottom, transparent, rgba(60, 141, 188, 1) 10px, rgba(60, 141, 188, 0)) 1 100% !important;
}
.container.skin-blue:before{
    background: -moz-linear-gradient(top,  transparent 0%, rgba(60, 141, 188,.6) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  transparent 0%,rgba(60, 141, 188,.6) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  transparent 0%,rgba(60, 141, 188,0) 30%,rgba(60, 141, 188,.6) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    /*color: rgba(60, 141, 188, 1);*/
}
.container.skin-blue .lock:before{
    -webkit-box-shadow: 0px 0px 0px 999px rgba(60, 141, 188, .6) !important;
    -moz-box-shadow: 0px 0px 0px 999px rgba(60, 141, 188, .6) !important;
    -o-box-shadow: 0px 0px 0px 999px rgba(60, 141, 188, .6) !important;
    box-shadow: 0px 0px 0px 999px rgba(60, 141, 188, .6) !important;
    border: 1px solid rgba(60, 141, 188, 1) !important;
}
.container.skin-blue .loginform{
    background: -moz-linear-gradient(top,  rgba(60, 141, 188,.6) 0%, rgba(60, 141, 188,0) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(60, 141, 188,.6) 0%,rgba(60, 141, 188,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(60, 141, 188,.6) 0%,rgba(60, 141, 188,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
}
.container.skin-blue .button{
    background: -moz-linear-gradient(top,  rgba(60, 141, 188,.4) 0%, rgba(60, 141, 188,0.3) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(60, 141, 188,.4) 0%,rgba(60, 141, 188,0.3) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(60, 141, 188,.4) 0%,rgba(60, 141, 188,0.3) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    border: 1px solid rgba(60, 141, 188,.4) !important;
}

/**/
span.skin-blue-light{
    background-color: rgba(60, 141, 188, 1);
}
.container.skin-blue-light{
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(60, 141, 188, 1)), to(rgba(60, 141, 188, 0))) 1 100% !important;
    -webkit-border-image: -webkit-linear-gradient(transparent, rgba(60, 141, 188, 1) 10px, rgba(60, 141, 188, 0)) 1 100% !important;
    -moz-border-image: -moz-linear-gradient(transparent, rgba(60, 141, 188, 1) 10px, rgba(60, 141, 188, 0)) 1 100% !important;
    -o-border-image: -o-linear-gradient(transparent, rgba(60, 141, 188, 1) 10px, rgba(60, 141, 188, 0)) 1 100% !important;
    border-image: linear-gradient(to bottom, transparent, rgba(60, 141, 188, 1) 10px, rgba(60, 141, 188, 0)) 1 100% !important;
}
.container.skin-blue-light:before{
    background: -moz-linear-gradient(top,  transparent 0%, rgba(60, 141, 188,.6) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  transparent 0%,rgba(60, 141, 188,.6) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  transparent 0%,rgba(60, 141, 188,0) 30%,rgba(60, 141, 188,.6) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    /*color: rgba(60, 141, 188, 1);*/
}
.container.skin-blue-light .lock:before{
    -webkit-box-shadow: 0px 0px 0px 999px rgba(60, 141, 188, .6) !important;
    -moz-box-shadow: 0px 0px 0px 999px rgba(60, 141, 188, .6) !important;
    -o-box-shadow: 0px 0px 0px 999px rgba(60, 141, 188, .6) !important;
    box-shadow: 0px 0px 0px 999px rgba(60, 141, 188, .6) !important;
    border: 1px solid rgba(60, 141, 188, 1) !important;
}
.container.skin-blue-light .loginform{
    background: -moz-linear-gradient(top,  rgba(60, 141, 188,.6) 0%, rgba(60, 141, 188,0) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(60, 141, 188,.6) 0%,rgba(60, 141, 188,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(60, 141, 188,.6) 0%,rgba(60, 141, 188,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
}
.container.skin-blue-light .button{
    background: -moz-linear-gradient(top,  rgba(60, 141, 188,.4) 0%, rgba(60, 141, 188,0.3) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(60, 141, 188,.4) 0%,rgba(60, 141, 188,0.3) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(60, 141, 188,.4) 0%,rgba(60, 141, 188,0.3) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    border: 1px solid rgba(60, 141, 188,.4) !important;
}
/******/
span.skin-green{
    background-color: rgba(0, 166, 90, 1);
}
.container.skin-green{
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 166, 90, 1)), to(rgba(0, 166, 90, 0))) 1 100% !important;
    -webkit-border-image: -webkit-linear-gradient(transparent, rgba(0, 166, 90, 1) 10px, rgba(0, 166, 90, 0)) 1 100% !important;
    -moz-border-image: -moz-linear-gradient(transparent, rgba(0, 166, 90, 1) 10px, rgba(0, 166, 90, 0)) 1 100% !important;
    -o-border-image: -o-linear-gradient(transparent, rgba(0, 166, 90, 1) 10px, rgba(0, 166, 90, 0)) 1 100% !important;
    border-image: linear-gradient(to bottom, transparent, rgba(0, 166, 90, 1) 10px, rgba(0, 166, 90, 0)) 1 100% !important;
}
.container.skin-green:before{
    background: -moz-linear-gradient(top,  transparent 0%, rgba(0, 166, 90,.6) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  transparent 0%,rgba(0, 166, 90,.6) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  transparent 0%,rgba(0, 166, 90,0) 30%,rgba(0, 166, 90,.6) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    /*color: rgba(0, 166, 90, 1);*/
}
.container.skin-green .lock:before{
    -webkit-box-shadow: 0px 0px 0px 999px rgba(0, 166, 90, .6) !important;
    -moz-box-shadow: 0px 0px 0px 999px rgba(0, 166, 90, .6) !important;
    -o-box-shadow: 0px 0px 0px 999px rgba(0, 166, 90, .6) !important;
    box-shadow: 0px 0px 0px 999px rgba(0, 166, 90, .6) !important;
    border: 1px solid rgba(0, 166, 90, 1) !important;
}
.container.skin-green .loginform{
    background: -moz-linear-gradient(top,  rgba(0, 166, 90,.6) 0%, rgba(0, 166, 90,0) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0, 166, 90,.6) 0%,rgba(0, 166, 90,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0, 166, 90,.6) 0%,rgba(0, 166, 90,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
}
.container.skin-green .button{
    background: -moz-linear-gradient(top,  rgba(0, 166, 90,.4) 0%, rgba(0, 166, 90,0.3) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0, 166, 90,.4) 0%,rgba(0, 166, 90,0.3) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0, 166, 90,.4) 0%,rgba(0, 166, 90,0.3) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    border: 1px solid rgba(0, 166, 90,.4) !important;
}

/**/
span.skin-green-light{
    background-color: rgba(0, 166, 90, 1);
}
.container.skin-green-light{
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 166, 90, 1)), to(rgba(0, 166, 90, 0))) 1 100% !important;
    -webkit-border-image: -webkit-linear-gradient(transparent, rgba(0, 166, 90, 1) 10px, rgba(0, 166, 90, 0)) 1 100% !important;
    -moz-border-image: -moz-linear-gradient(transparent, rgba(0, 166, 90, 1) 10px, rgba(0, 166, 90, 0)) 1 100% !important;
    -o-border-image: -o-linear-gradient(transparent, rgba(0, 166, 90, 1) 10px, rgba(0, 166, 90, 0)) 1 100% !important;
    border-image: linear-gradient(to bottom, transparent, rgba(0, 166, 90, 1) 10px, rgba(0, 166, 90, 0)) 1 100% !important;
}
.container.skin-green-light:before{
    background: -moz-linear-gradient(top,  transparent 0%, rgba(0, 166, 90,.6) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  transparent 0%,rgba(0, 166, 90,.6) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  transparent 0%,rgba(0, 166, 90,0) 30%,rgba(0, 166, 90,.6) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    /*color: rgba(0, 166, 90, 1);*/
}
.container.skin-green-light .lock:before{
    -webkit-box-shadow: 0px 0px 0px 999px rgba(0, 166, 90, .6) !important;
    -moz-box-shadow: 0px 0px 0px 999px rgba(0, 166, 90, .6) !important;
    -o-box-shadow: 0px 0px 0px 999px rgba(0, 166, 90, .6) !important;
    box-shadow: 0px 0px 0px 999px rgba(0, 166, 90, .6) !important;
    border: 1px solid rgba(0, 166, 90, 1) !important;
}
.container.skin-green-light .loginform{
    background: -moz-linear-gradient(top,  rgba(0, 166, 90,.6) 0%, rgba(0, 166, 90,0) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0, 166, 90,.6) 0%,rgba(0, 166, 90,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0, 166, 90,.6) 0%,rgba(0, 166, 90,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
}
.container.skin-green-light .button{
    background: -moz-linear-gradient(top,  rgba(0, 166, 90,.4) 0%, rgba(0, 166, 90,0.3) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0, 166, 90,.4) 0%,rgba(0, 166, 90,0.3) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0, 166, 90,.4) 0%,rgba(0, 166, 90,0.3) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    border: 1px solid rgba(0, 166, 90,.4) !important;
}
/******/
span.skin-purple{
    background-color: rgba(96, 92, 168, 1);
}
.container.skin-purple{
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(96, 92, 168, 1)), to(rgba(96, 92, 168, 0))) 1 100% !important;
    -webkit-border-image: -webkit-linear-gradient(transparent, rgba(96, 92, 168, 1) 10px, rgba(96, 92, 168, 0)) 1 100% !important;
    -moz-border-image: -moz-linear-gradient(transparent, rgba(96, 92, 168, 1) 10px, rgba(96, 92, 168, 0)) 1 100% !important;
    -o-border-image: -o-linear-gradient(transparent, rgba(96, 92, 168, 1) 10px, rgba(96, 92, 168, 0)) 1 100% !important;
    border-image: linear-gradient(to bottom, transparent, rgba(96, 92, 168, 1) 10px, rgba(96, 92, 168, 0)) 1 100% !important;
}
.container.skin-purple:before{
    background: -moz-linear-gradient(top,  transparent 0%, rgba(96, 92, 168,.6) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  transparent 0%,rgba(96, 92, 168,.6) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  transparent 0%,rgba(96, 92, 168,0) 30%,rgba(96, 92, 168,.6) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    /*color: rgba(96, 92, 168, 1);*/
}
.container.skin-purple .lock:before{
    -webkit-box-shadow: 0px 0px 0px 999px rgba(96, 92, 168, .6) !important;
    -moz-box-shadow: 0px 0px 0px 999px rgba(96, 92, 168, .6) !important;
    -o-box-shadow: 0px 0px 0px 999px rgba(96, 92, 168, .6) !important;
    box-shadow: 0px 0px 0px 999px rgba(96, 92, 168, .6) !important;
    border: 1px solid rgba(96, 92, 168, 1) !important;
}
.container.skin-purple .loginform{
    background: -moz-linear-gradient(top,  rgba(96, 92, 168,.6) 0%, rgba(96, 92, 168,0) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(96, 92, 168,.6) 0%,rgba(96, 92, 168,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(96, 92, 168,.6) 0%,rgba(96, 92, 168,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
}
.container.skin-purple .button{
    background: -moz-linear-gradient(top,  rgba(96, 92, 168,.4) 0%, rgba(96, 92, 168,0.3) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(96, 92, 168,.4) 0%,rgba(96, 92, 168,0.3) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(96, 92, 168,.4) 0%,rgba(96, 92, 168,0.3) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    border: 1px solid rgba(96, 92, 168,.4) !important;
}

/**/
span.skin-purple-light{
    background-color: rgba(96, 92, 168, 1);
}
.container.skin-purple-light{
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(96, 92, 168, 1)), to(rgba(96, 92, 168, 0))) 1 100% !important;
    -webkit-border-image: -webkit-linear-gradient(transparent, rgba(96, 92, 168, 1) 10px, rgba(96, 92, 168, 0)) 1 100% !important;
    -moz-border-image: -moz-linear-gradient(transparent, rgba(96, 92, 168, 1) 10px, rgba(96, 92, 168, 0)) 1 100% !important;
    -o-border-image: -o-linear-gradient(transparent, rgba(96, 92, 168, 1) 10px, rgba(96, 92, 168, 0)) 1 100% !important;
    border-image: linear-gradient(to bottom, transparent, rgba(96, 92, 168, 1) 10px, rgba(96, 92, 168, 0)) 1 100% !important;
}
.container.skin-purple-light:before{
    background: -moz-linear-gradient(top,  transparent 0%, rgba(96, 92, 168,.6) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  transparent 0%,rgba(96, 92, 168,.6) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  transparent 0%,rgba(96, 92, 168,0) 30%,rgba(96, 92, 168,.6) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    /*color: rgba(96, 92, 168, 1);*/
}
.container.skin-purple-light .lock:before{
    -webkit-box-shadow: 0px 0px 0px 999px rgba(96, 92, 168, .6) !important;
    -moz-box-shadow: 0px 0px 0px 999px rgba(96, 92, 168, .6) !important;
    -o-box-shadow: 0px 0px 0px 999px rgba(96, 92, 168, .6) !important;
    box-shadow: 0px 0px 0px 999px rgba(96, 92, 168, .6) !important;
    border: 1px solid rgba(96, 92, 168, 1) !important;
}
.container.skin-purple-light .loginform{
    background: -moz-linear-gradient(top,  rgba(96, 92, 168,.6) 0%, rgba(96, 92, 168,0) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(96, 92, 168,.6) 0%,rgba(96, 92, 168,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(96, 92, 168,.6) 0%,rgba(96, 92, 168,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
}
.container.skin-purple-light .button{
    background: -moz-linear-gradient(top,  rgba(96, 92, 168,.4) 0%, rgba(96, 92, 168,0.3) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(96, 92, 168,.4) 0%,rgba(96, 92, 168,0.3) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(96, 92, 168,.4) 0%,rgba(96, 92, 168,0.3) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    border: 1px solid rgba(96, 92, 168,.4) !important;
}
/******/
span.skin-red{
    background-color: rgba(221, 75, 57, 1);
}
.container.skin-red{
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(221, 75, 57, 1)), to(rgba(221, 75, 57, 0))) 1 100% !important;
    -webkit-border-image: -webkit-linear-gradient(transparent, rgba(221, 75, 57, 1) 10px, rgba(221, 75, 57, 0)) 1 100% !important;
    -moz-border-image: -moz-linear-gradient(transparent, rgba(221, 75, 57, 1) 10px, rgba(221, 75, 57, 0)) 1 100% !important;
    -o-border-image: -o-linear-gradient(transparent, rgba(221, 75, 57, 1) 10px, rgba(221, 75, 57, 0)) 1 100% !important;
    border-image: linear-gradient(to bottom, transparent, rgba(221, 75, 57, 1) 10px, rgba(221, 75, 57, 0)) 1 100% !important;
}
.container.skin-red:before{
    background: -moz-linear-gradient(top,  transparent 0%, rgba(221, 75, 57,.6) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  transparent 0%,rgba(221, 75, 57,.6) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  transparent 0%,rgba(221, 75, 57,0) 30%,rgba(221, 75, 57,.6) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    /*color: rgba(221, 75, 57, 1);*/
}
.container.skin-red .lock:before{
    -webkit-box-shadow: 0px 0px 0px 999px rgba(221, 75, 57, .6) !important;
    -moz-box-shadow: 0px 0px 0px 999px rgba(221, 75, 57, .6) !important;
    -o-box-shadow: 0px 0px 0px 999px rgba(221, 75, 57, .6) !important;
    box-shadow: 0px 0px 0px 999px rgba(221, 75, 57, .6) !important;
    border: 1px solid rgba(221, 75, 57, 1) !important;
}
.container.skin-red .loginform{
    background: -moz-linear-gradient(top,  rgba(221, 75, 57,.6) 0%, rgba(221, 75, 57,0) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(221, 75, 57,.6) 0%,rgba(221, 75, 57,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(221, 75, 57,.6) 0%,rgba(221, 75, 57,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
}
.container.skin-red .button{
    background: -moz-linear-gradient(top,  rgba(221, 75, 57,.4) 0%, rgba(221, 75, 57,0.3) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(221, 75, 57,.4) 0%,rgba(221, 75, 57,0.3) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(221, 75, 57,.4) 0%,rgba(221, 75, 57,0.3) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    border: 1px solid rgba(221, 75, 57,.4) !important;
}

/**/
span.skin-red-light{
    background-color: rgba(221, 75, 57, 1);
}
.container.skin-red-light{
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(221, 75, 57, 1)), to(rgba(221, 75, 57, 0))) 1 100% !important;
    -webkit-border-image: -webkit-linear-gradient(transparent, rgba(221, 75, 57, 1) 10px, rgba(221, 75, 57, 0)) 1 100% !important;
    -moz-border-image: -moz-linear-gradient(transparent, rgba(221, 75, 57, 1) 10px, rgba(221, 75, 57, 0)) 1 100% !important;
    -o-border-image: -o-linear-gradient(transparent, rgba(221, 75, 57, 1) 10px, rgba(221, 75, 57, 0)) 1 100% !important;
    border-image: linear-gradient(to bottom, transparent, rgba(221, 75, 57, 1) 10px, rgba(221, 75, 57, 0)) 1 100% !important;
}
.container.skin-red-light:before{
    background: -moz-linear-gradient(top,  transparent 0%, rgba(221, 75, 57,.6) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  transparent 0%,rgba(221, 75, 57,.6) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  transparent 0%,rgba(221, 75, 57,0) 30%,rgba(221, 75, 57,.6) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    /*color: rgba(221, 75, 57, 1);*/
}
.container.skin-red-light .lock:before{
    -webkit-box-shadow: 0px 0px 0px 999px rgba(221, 75, 57, .6) !important;
    -moz-box-shadow: 0px 0px 0px 999px rgba(221, 75, 57, .6) !important;
    -o-box-shadow: 0px 0px 0px 999px rgba(221, 75, 57, .6) !important;
    box-shadow: 0px 0px 0px 999px rgba(221, 75, 57, .6) !important;
    border: 1px solid rgba(221, 75, 57, 1) !important;
}
.container.skin-red-light .loginform{
    background: -moz-linear-gradient(top,  rgba(221, 75, 57,.6) 0%, rgba(221, 75, 57,0) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(221, 75, 57,.6) 0%,rgba(221, 75, 57,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(221, 75, 57,.6) 0%,rgba(221, 75, 57,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
}
.container.skin-red-light .button{
    background: -moz-linear-gradient(top,  rgba(221, 75, 57,.4) 0%, rgba(221, 75, 57,0.3) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(221, 75, 57,.4) 0%,rgba(221, 75, 57,0.3) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(221, 75, 57,.4) 0%,rgba(221, 75, 57,0.3) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    border: 1px solid rgba(221, 75, 57,.4) !important;
}
/******/
span.skin-yellow{
    background-color: rgba(243, 156, 18, 1);
}
.container.skin-yellow{
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(243, 156, 18, 1)), to(rgba(243, 156, 18, 0))) 1 100% !important;
    -webkit-border-image: -webkit-linear-gradient(transparent, rgba(243, 156, 18, 1) 10px, rgba(243, 156, 18, 0)) 1 100% !important;
    -moz-border-image: -moz-linear-gradient(transparent, rgba(243, 156, 18, 1) 10px, rgba(243, 156, 18, 0)) 1 100% !important;
    -o-border-image: -o-linear-gradient(transparent, rgba(243, 156, 18, 1) 10px, rgba(243, 156, 18, 0)) 1 100% !important;
    border-image: linear-gradient(to bottom, transparent, rgba(243, 156, 18, 1) 10px, rgba(243, 156, 18, 0)) 1 100% !important;
}
.container.skin-yellow:before{
    background: -moz-linear-gradient(top,  transparent 0%, rgba(243, 156, 18,.6) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  transparent 0%,rgba(243, 156, 18,.6) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  transparent 0%,rgba(243, 156, 18,0) 30%,rgba(243, 156, 18,.6) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    /*color: rgba(243, 156, 18, 1);*/
}
.container.skin-yellow .lock:before{
    -webkit-box-shadow: 0px 0px 0px 999px rgba(243, 156, 18, .6) !important;
    -moz-box-shadow: 0px 0px 0px 999px rgba(243, 156, 18, .6) !important;
    -o-box-shadow: 0px 0px 0px 999px rgba(243, 156, 18, .6) !important;
    box-shadow: 0px 0px 0px 999px rgba(243, 156, 18, .6) !important;
    border: 1px solid rgba(243, 156, 18, 1) !important;
}
.container.skin-yellow .loginform{
    background: -moz-linear-gradient(top,  rgba(243, 156, 18,.6) 0%, rgba(243, 156, 18,0) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(243, 156, 18,.6) 0%,rgba(243, 156, 18,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(243, 156, 18,.6) 0%,rgba(243, 156, 18,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
}
.container.skin-yellow .button{
    background: -moz-linear-gradient(top,  rgba(243, 156, 18,.4) 0%, rgba(243, 156, 18,0.3) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(243, 156, 18,.4) 0%,rgba(243, 156, 18,0.3) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(243, 156, 18,.4) 0%,rgba(243, 156, 18,0.3) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    border: 1px solid rgba(243, 156, 18,.4) !important;
}

/**/
span.skin-yellow-light{
    background-color: rgba(243, 156, 18, 1);
}
.container.skin-yellow-light{
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(243, 156, 18, 1)), to(rgba(243, 156, 18, 0))) 1 100% !important;
    -webkit-border-image: -webkit-linear-gradient(transparent, rgba(243, 156, 18, 1) 10px, rgba(243, 156, 18, 0)) 1 100% !important;
    -moz-border-image: -moz-linear-gradient(transparent, rgba(243, 156, 18, 1) 10px, rgba(243, 156, 18, 0)) 1 100% !important;
    -o-border-image: -o-linear-gradient(transparent, rgba(243, 156, 18, 1) 10px, rgba(243, 156, 18, 0)) 1 100% !important;
    border-image: linear-gradient(to bottom, transparent, rgba(243, 156, 18, 1) 10px, rgba(243, 156, 18, 0)) 1 100% !important;
}
.container.skin-yellow-light:before{
    background: -moz-linear-gradient(top,  transparent 0%, rgba(243, 156, 18,.6) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  transparent 0%,rgba(243, 156, 18,.6) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  transparent 0%,rgba(243, 156, 18,0) 30%,rgba(243, 156, 18,.6) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    /*color: rgba(243, 156, 18, 1);*/
}
.container.skin-yellow-light .lock:before{
    -webkit-box-shadow: 0px 0px 0px 999px rgba(243, 156, 18, .6) !important;
    -moz-box-shadow: 0px 0px 0px 999px rgba(243, 156, 18, .6) !important;
    -o-box-shadow: 0px 0px 0px 999px rgba(243, 156, 18, .6) !important;
    box-shadow: 0px 0px 0px 999px rgba(243, 156, 18, .6) !important;
    border: 1px solid rgba(243, 156, 18, 1) !important;
}
.container.skin-yellow-light .loginform{
    background: -moz-linear-gradient(top,  rgba(243, 156, 18,.6) 0%, rgba(243, 156, 18,0) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(243, 156, 18,.6) 0%,rgba(243, 156, 18,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(243, 156, 18,.6) 0%,rgba(243, 156, 18,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
}
.container.skin-yellow-light .button{
    background: -moz-linear-gradient(top,  rgba(243, 156, 18,.4) 0%, rgba(243, 156, 18,0.3) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(243, 156, 18,.4) 0%,rgba(243, 156, 18,0.3) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(243, 156, 18,.4) 0%,rgba(243, 156, 18,0.3) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) !important; /* IE6-9 */
    border: 1px solid rgba(243, 156, 18,.4) !important;
}
/******/