
table.panelSendMailMembers {
    width: 100%;
    border-collapse: collapse;
    border: none;
    height: 450px;
}

table.panelSendMailMembers tbody td {
    padding: 0 !important;
    border: 1px solid #d5d5d5 !important;
    vertical-align: top;
}

table.panelSendMailMembers tbody > tr td:nth-child(0) {
    width: 200px !important;
    max-width: 200px !important;
}

table.panelSendMailMembers div.dialog_header {
    text-align: center;
    background: #3c8dbc;
    border: thin solid #ffffff;
    height: 2em;
    color: white;
}

table.panelSendMailMembers div.group_container {
    overflow: auto;
    height: 360px;
}

table.panelSendMailMembers a {
    display: block;
    padding: 0.2em;
    margin: 0;
    border-bottom-right-radius: 3px !important;
    text-align: left;
    font-weight: normal;
}

table.panelSendMailMembers div.group_container a:hover:not(.selected){
    border: 1px solid #c0c0c0;
    background: #eee;
    font-weight: normal;
    color: #212121
}
table.panelSendMailMembers div.group_container a.selected {
    border: 1px solid #156090;
    background: #186ba0;
    color: #fff;
}

table.panelSendMailMembers div.ui-picklist-list-wrapper {
    width: 48%;
    height: 410px;
    border-left: 1px solid #d5d5d5 !important;
    border-right: 1px solid #d5d5d5 !important;
    overflow: auto;
}

table.panelSendMailMembers div.ui-picklist-list-wrapper button {
    display: none;
}

table.panelSendMailMembers div.ui-picklist-list-wrapper ul {
    height: 370px;
    width: 100% !important;
}

table.panelSendMailMembers div.ui-picklist-buttons button {
    margin-bottom: 0.5em !important;
}