.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}
.ui-widget-header {
    text-align: center;
}
.ui-datatable .ui-datatable-footer .footer-section {
    text-align: left;
}
.ui-widget-header.ui-datatable-scrollable-header{
/*    overflow: visible;*/
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight{
    border: 0 !important;
}

.ui-dialog .ui-dialog-content{
    padding: 15px 20px !important; 
}

.ui-column-filter{
    width: 95% !important;
}

.column {
    font-weight: bold;
    background-color: menu;
}

.form-height{
    position: relative;
    width: 100%;
}

.full-width{
    width: 100% !important;
}

.footer{
    margin: 5px !important;
}

.footer-left{
    float: left;
}

.footer-right{
    float: right;
}

.ui-panelgrid:not(.dataTable_history_customer) .ui-panelgrid-cell{
    padding: 1px 5px !important;
    border-width: 0 !important;
}
.ui-panelgrid:not(.panelGrid_related_cases) .ui-panelgrid-cell:nth-child(odd):not(.value-cell){
    width: 130px;
    font-weight: bold;
    text-align: right;
    height: 31px;
}
.ui-panelgrid.ui-panelgrid-color > tbody > tr > td:nth-child(odd):not(.value-cell){
    background: rgb(235, 237, 240);
}
.ui-dialog .ui-panelgrid .ui-panelgrid-cell {
    background: transparent !important;
    border-color: transparent;
}
.box:not(.box-view-mode) .ui-panelgrid:not(.panelGrid_related_cases) .ui-widget-content{
    border-color: transparent;
}
.box.box-view-mode .ui-panelgrid:not(.popupGrid) .ui-panelgrid-cell{
    border-width: 1px !important;
}
.ui-panelgrid.box-view-mode .ui-panelgrid-cell{
    border-width: 1px !important;
    border-color: rgb(213, 213, 213);
}
.ui-dialog.ui-widget-content .ui-dialog-titlebar{
    padding: 0px 15px !important;
}

.ui-selectonemenu{
/*    width: 100% !important;*/
}

.ui-selectonemenu-label{
    width: 100% !important;
}

div.ui-selectonemenu-filter-container{
    width: 100% !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter {
    width: 100% !important;
    padding-right: 4px !important;
}
.ui-selectonemenu .ui-selectonemenu-trigger{
    width: 23px !important;
}

.ui-picklist{
    display: block !important;
}

.ui-picklist .ui-picklist-list {
/*    height: 100px !important;*/
}

.ui-picklist-list-wrapper{
/*    height: 100px !important;*/
}

.ui-picklist-buttons button{
/*    height: 100px !important;*/
    margin-bottom: 5px !important;
}

.datatable-no-border.ui-panelgrid>*>tr,
.datatable-no-border.ui-panelgrid .ui-panelgrid-cell {
    border: none !important;
}

.ui-button:not(.hide){
    display: inline-block;
    margin-bottom: 0 !important;
    font-size: 12px !important;
    font-weight: normal !important;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: bottom !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    /*background-image: none !important;*/
    /*border: 1px solid transparent !important;*/
    /*border-radius: 4px;*/
    padding: 0px !important;
    /*margin-top: -0.1em !important;*/
}
.page-header .ui-button:not(.hide),
.page-header .btn-group > a{
    height: 2.7em;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    text-shadow: none !important;
    box-shadow: none !important;
}
/*.ui-inputfield.ui-state-error{
    border:1px solid #d9534f !important;
}*/

.select-one-menu-width{
    min-width: 300px !important;
}

.font-normal{
    font-weight: normal !important;
    height: 12px !important;
}

.ui-chkbox-box.ui-state-active .ui-icon, .ui-radiobutton-box.ui-state-active .ui-icon{
    margin-top: -2px !important;
    margin-left: -1px !important;
}

.form-control{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}