.search-filter{
    white-space: nowrap;
    overflow: auto;
    padding: 10px;
    background: #FFF;
}
.search-filter::-webkit-scrollbar,
.search-filter ul::-webkit-scrollbar{
    height: 8px;
    width: 8px;
}
.search-filter::-webkit-scrollbar-track,
.search-filter ul::-webkit-scrollbar-track{
    border-radius: 10px;
    background: #EEEEEE;
}
.search-filter::-webkit-scrollbar-thumb,
.search-filter ul::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #757575;
}
.search-filter .group{
    height: 140px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 0;
    margin-bottom: 10px;
    font-size: 12px;
}
.search-filter .group.ui-state-highlight{
    background: #FFFDE7;
    border: 1px dashed #FFF59D;
}
.search-filter .group ul{
    overflow: hidden;
    overflow-y: auto;
    background: #f5f5f5;
    -webkit-box-flex: 1 auto;
    -moz-box-flex: 1 auto;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    padding: 5px;
    margin: 0;
    border: 1px solid #E0E0E0;
}
.search-filter .group .extra .condition{
    width: 50px;
}
.search-filter .group:last-child .extra [href="#add-group"]{
    display: inline;
}
.search-filter .group ul li [href="#add-field"]{
    display: none;
}
.search-filter .group ul li:first-child [href="#add-field"]{
    display: inline;
}
.search-filter .group ul li [href="#remove-field"]{
    display: inline;
}
.search-filter .group ul li:first-child [href="#remove-field"]{
    display: none;
}
.search-filter .group ul li{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.search-filter .group ul li > *{
    height: 23px;
    margin-bottom: 5px;
    outline: none;
}
.search-filter .group ul li > select{
    background: #fff;
}
.search-filter .group ul li .field,
.search-filter .group ul li .field + .select2{
    min-width: 70px;
    -webkit-box-flex: 0 0;
    -moz-box-flex: 0 0;
    -webkit-flex: 0 0;
    -ms-flex: 0 0;
    flex: 0 0;
    order: 1;
}
.search-filter .group ul li .field option[disabled]{
    font-weight: bold;
    color: #000;
}
.search-filter .group ul li .operator{
    min-width: 36px;
    -webkit-box-flex: 0 0;
    -moz-box-flex: 0 0;
    -webkit-flex: 0 0;
    -ms-flex: 0 0;
    flex: 0 0;
    order: 2;
}
.search-filter .group ul li .value,
.search-filter .group ul li .value + .select2{
    min-width: 60px;
    -webkit-box-flex: 1 auto;
    -moz-box-flex: 1 auto;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    order: 3;
}
.search-filter .group ul li .condition{
    min-width: 50px;
    -webkit-box-flex: 0 0;
    -moz-box-flex: 0 0;
    -webkit-flex: 0 0;
    -ms-flex: 0 0;
    flex: 0 0;
    order: 4;
}
.search-filter .group ul li > a{
    min-width: 20px;
    -webkit-box-flex: 0 0;
    -moz-box-flex: 0 0;
    -webkit-flex: 0 0;
    -ms-flex: 0 0;
    flex: 0 0;
    order: 5;
}
.search-filter .group ul li .value.date{
    background-image: url(data:image/gif;base64,R0lGODdhEAAPAPQAAHdTUalbV7xeWd1jXO1lXu5tZe9zbPB6c/GDfTFpzjlx3lqK53Oe7/KIgvKNh/OYkvSblvSinfWrp/awq/e1sYyq7/vh3/3r6v3y8f729f/8/P///wAAAAAAAAAAAAAAACwAAAAAEAAPAAAFh+AEiCQAjehUIFvRvu6wCbM1TZIURY/jIECDgUCYXI7IW24ZKSp1j6gvOJRsNo9rFqvRPDKZgHXTuJbJ5oxFLGkcHm54hbFQwMXa/IbRVVwmARBmZl0LGhgJf4Ftb3ENCgoJCT2BeV5gD0cPFhSVZBpkYA1HDZyLDwcSqKqpqBMNgQGys7S1IQA7);
    background-repeat: no-repeat;
    background-position: right center;
}
.search-filter .group ul li.ui-state-highlight{
    background: #FFFDE7;
    height: 23px;
    border: 1px dashed #FFF59D;
}
.search-filter .group .extra{
    -webkit-box-flex: 0 0;
    -moz-box-flex: 0 0;
    -webkit-flex: 0 0;
    -ms-flex: 0 0;
    flex: 0 0;
    width: 54px; height: 100%;
    text-align: center;
    white-space: normal;
    display: table;
    margin-right: 7px;
}
.search-filter .group .extra span{
    display: table-cell;
    vertical-align: middle;
}
.search-filter .group .extra [href="#add-group"]{
    display: none;
}

/*//////////////// WITH select2() ////////////////*/
.select2-container{
    font-size: 12px;
}
.select2-container .select2-dropdown{
    min-width: 140px;
}
.search-filter .select2-container--default .select2-selection--single, 
.search-filter .select2-selection .select2-selection--single{
    padding: 0;
    height: 23px;
    text-align: left;
    
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
}
.search-filter .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 100%;
    top: 0;
}
.select2-container .select2-search--dropdown::after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f002";
    position: absolute;
    right: 12px;
    top: 11px;
}
.select2-container .select2-search--dropdown .select2-search__field {
    padding: 4px 20px 4px 4px;
}
.select2-container .select2-results .select2-results__option{
    padding: 4px 6px !important;
}