<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="LOG4JDB" class="org.apache.log4j.jdbc.JDBCAppender">
        <param name="driver" value="com.mysql.jdbc.Driver" />
        <param name="URL" value="jdbc:mysql://127.0.0.1:3308/crmcloud?useUnicode=true" />
        <param name="user" value="crmcloud" />
        <param name="password" value="123456" />
        <param name="bufferSize" value="1" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="INSERT INTO crm_log4j VALUES (null,1, '%-5p', '%C', '%d{yyyy-MM-dd HH:mm:ss}', '%l',  '%m')" />
        </layout>
    </appender>

<root>
    <priority value="ALL" />
    <appender-ref ref="LOG4JDB" />
</root>        
</log4j:configuration>